<div class="col-sm-12 full-width-depad">
<nav class="navbar nav-bg navbar-nav">
    <%=link_to "Home", root_path, class: "nav-item nav-link" %>
    <%=link_to "Contributors", articles_path, class: "nav-item nav-link" %>
    <%=link_to "Author Info", contributors_path, class: "nav-item nav-link" %>
    <%=link_to "Advanced Search", advanced_search_path, class: "nav-item nav-link" %>
    <%=link_to 'Release Notes', essays_path, class: "nav-item nav-link" %>
    <%=link_to 'History', history_path, class: "nav-item nav-link" %>
    <%=link_to 'Attribution Scholarship', scholarship_path, class: "nav-item nav-link" %>
    <%=link_to 'Related Sites', sites_path, class: "nav-item nav-link" %>
    <%=link_to 'Contact Us', contact_path, class: "nav-item nav-link"%>
    <%=link_to 'Submissions', "https://submit.curranindex.org/submissions", class: "nav-item nav-link" %>
</nav>
</div>

<% content_for :js do %>  
  <script type="text/javascript">
    $(function(){
      $('.nav-item-greyed').popover({
        placement: 'top',
        trigger: 'hover'
      });
    });
  </script>
<%end%>
